{% extends "layout.html" %}
{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-center">{{ legend }}</h2>
            
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                
                <fieldset class="form-group">
                    <div class="mb-3">
                        {{ form.nombre.label(class="form-label") }}
                        {{ form.nombre(class="form-control") }}
                        {% for error in form.nombre.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </fieldset>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a href="{{ url_for('listar_areas') }}">Cancelar y volver a la lista</a>
        </div>
    </div>
{% endblock content %}